services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: api
    ports:
      - "5000:8080"
      - "5001:5001" # Debugger port
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      - ConnectionStrings__Postgres=Host=db;Database=${POSTGRES_DB};Username=${POSTGRES_USER};Password=${POSTGRES_PASSWORD}
      - ConnectionStrings__Redis=redis:6379
      - Stripe__SecretKey=${STRIPE_SECRET_KEY}
      - Jwt__Key=${JWT_SIGNING_KEY}
      - MapBox__AccessToken=${MAPBOX_ACCESS_TOKEN}
      - DOTNET_USE_POLLING_FILE_WATCHER=true # For hot-reload in Docker on Windows
    volumes:
      - .:/app
    restart: on-failure

  db:
    image: postgis/postgis:17-3.5
    container_name: postgres_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: on-failure

  redis:
    image: redis:8
    container_name: redis
    ports:
      - "6379:6379"
    command: redis-server --appendonly yes --appendfsync everysec
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
    restart: on-failure

volumes:
  pgdata:
  redis_data:
